#ANDROID
/platforms/android/build
/platforms/android/ant-build
/platforms/android/CordovaLib/ant-build
/platforms/android/CordovaLib/build
/platforms/android/expressoAuthenticator/ant-build
/platforms/android/expressoAuthenticator/build
/platforms/android/assets/wwww
platforms/android/.idea/workspace.xml

*.bin
*.lock
*.apk
ant-gen
*.class
gen
out

#IOS
*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
/platforms/ios/build
/platforms/ios/CordovaLib/build
/platforms/ios/www/*
/platforms/ios/cordova/console.log

/source/servers.json
/source/plugins/*

/hooks/celepar*
/hooks/*.sh


/www/*
!/www/.empty

platforms/ios/cordova/console.log

platforms/android/.idea/workspace.xml

platforms/android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

platforms/android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

platforms/android/.gradle/2.2.1/taskArtifacts/fileHashes.bin

platforms/android/.gradle/2.2.1/taskArtifacts/cache.properties.lock
