


#ANDROID
/platforms/android/build
/platforms/android/ant-build
/platforms/android/CordovaLib/ant-build
/platforms/android/CordovaLib/build
/platforms/android/expressoAuthenticator/ant-build
/platforms/android/expressoAuthenticator/build
/platforms/android/assets/wwww
*.apk
ant-gen
*.class
gen
out

#IOS
*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
/platforms/ios/build
/platforms/ios/wwww
/platforms/ios/CordovaLib/build

#DISTRIBUIÇÃO
/www/*

/hooks/celepar*
/hooks/*.sh
