<?xml version='1.0' encoding='utf-8'?>
<widget id="com.celepar.pr.gov.br.Expresso" android-packageName="com.celepar.expresso" ios-CFBundleIdentifier="com.celepar.pr.gov.br.Expresso" version="1.2" ios-CFBundleVersion="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>Expresso</name>
        <description>
            Expresso Mobile
        </description>
        <author email="developercoser@celepar.pr.gov.br" href="http://cordova.io">
            Expresso Mobile
        </author>
        
        <access origin="*" />
        <preference name="AllowInlineMediaPlayback" value="false" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="DisallowOverscroll" value="false" />
        <preference name="EnableViewportScale" value="false" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value=".25" />
        <preference name="KeyboardDisplayRequiresUserAction" value="true" />
        <preference name="MediaPlaybackRequiresUserAction" value="false" />
        <preference name="ShowSplashScreenSpinner" value="true" />
        <preference name="SuppressesIncrementalRendering" value="false" />
        <preference name="TopActivityIndicator" value="gray" />
        <preference name="GapBetweenPages" value="0" />
        <preference name="PageLength" value="0" />
        <preference name="PaginationBreakingMode" value="page" />
        <preference name="PaginationMode" value="unpaginated" />

        <platform name="android">
            <content src="index_android.html" />
        </platform>

        <platform name="ios">
            <content src="index_ios.html" />
        <feature name="LocalStorage">
                <param name="ios-package" value="CDVLocalStorage" />
        </feature>
        <feature name="ExternalFileUtil">
                <param name="ios-package" value="CDVExternalFileUtil" />
        </feature>
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="www/imgs/app-icons/icon-152.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/imgs/app-icons/icon-58.png" width="60" height="60" />
        <icon src="www/imgs/app-icons/icon-120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="www/imgs/app-icons/icon-76.png" width="76" height="76" />
        <icon src="www/imgs/app-icons/icon-152.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/imgs/app-icons/icon-40.png" width="40" height="40" />
        <icon src="www/imgs/app-icons/icon-80.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/imgs/app-icons/icon-57.png" width="57" height="57" />
        <icon src="www/imgs/app-icons/icon-114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/imgs/app-icons/icon-72.png" width="72" height="72" />
        <icon src="www/imgs/app-icons/icon-144.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/imgs/app-icons/icon-29.png" width="29" height="29" />
        <icon src="www/imgs/app-icons/icon-58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/imgs/app-icons/icon-50.png" width="50" height="50" />
        <icon src="www/imgs/app-icons/icon-100.png" width="100" height="100" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="www/imgs/splash-screens/Default~iphone.png" width="320" height="480"/>
        <splash src="www/imgs/splash-screens/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="www/imgs/splash-screens/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="www/imgs/splash-screens/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="www/imgs/splash-screens/Default-Landscape~ipad.png" width="1024" height="768"/> 
        <splash src="www/imgs/splash-screens/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="www/imgs/splash-screens/640x1136.png" width="640" height="1136"/>
        <splash src="www/imgs/splash-screens/Default-667h.png" width="750" height="1334"/>
        <splash src="www/imgs/splash-screens/Default-736h.png" width="1242" height="2208"/>
        <splash src="www/imgs/splash-screens/Default-Landscape-736h.png" width="2208" height="1242"/>
        </platform>
</widget>