<!-- <div id="modalEditFolder" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=title%></h4>
      </div>
      <div class="modal-body">
        <p><form id="changePassword">
			<ol>
				<li>
					<input type="text" name="folderName" id="folderName" placeholder="Nome da Pasta" value="<%=folderName%>" />
					<input type="hidden" name="folderID" id="folderID" value="<%=folderID%>" />
					<input type="hidden" name="parentFolderID" id="parentFolderID" value="<%=parentFolderID%>" />
					<input type="hidden" name="folderAction" id="folderAction" value="<%=folderAction%>" />
				</li>
			</ol>
		</form></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div> -->
<div class="expresso-cards mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
	<!-- <h2 class="font-big"><%=title%></h2> -->
	<article id="wrapperDetail" class="contentScroll">
		<div id="scrollerDetail">
			<form id="changePassword">
				<ol>
					<li>
						<input type="text" name="folderName" id="folderName" placeholder="Nome da Pasta" value="<%=folderName%>" />
						<input type="hidden" name="folderID" id="folderID" value="<%=folderID%>" />
						<input type="hidden" name="parentFolderID" id="parentFolderID" value="<%=parentFolderID%>" />
						<input type="hidden" name="folderAction" id="folderAction" value="<%=folderAction%>" />
					</li>
				</ol>
			</form>
	  	</div>
	</article>
</div>
