

h2#contentDetailTitle { font-size: 16px; color: #FFFFFF; padding-left: 10px; line-height: 40px; border-bottom: 1px #FFFFFF solid; font-weight: bold; background: rgb(68, 138, 255) none repeat scroll 0 0; margin: 0px; }

#agenda .ui-widget-content { border: 0px; box-shadow: none; }
#agenda .ui-datepicker { width: auto; border: 0; background: #F1F1F1; padding: 0px; }
#agenda .ui-datepicker .ui-datepicker-header { padding: 0px; border: 0; border-radius: 0; background: rgb(68, 138, 255) none repeat scroll 0 0; height: 40px; line-height: 40px; color: #FFF; }
#agenda .ui-datepicker .ui-datepicker-header a { cursor: pointer; text-align: center; width: 50px; }
#agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-prev { float: left; }
#agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-next { float: right; }
#agenda .ui-datepicker .ui-datepicker-header .ui-datepicker-title { text-align: center; line-height: 40px; }
#agenda .ui-datepicker .ui-datepicker-calendar { width: 100%; background-color: #FFFFFF; border-spacing: 0; }
#agenda .ui-datepicker .ui-datepicker-calendar tr { height: 50px; background-color: #F1F1F1; }
#agenda .ui-datepicker .ui-datepicker-calendar thead tr { height:30px; background-color: #777777; color: #FFF; }
#agenda .ui-datepicker .ui-datepicker-calendar thead tr th { }
#agenda .ui-datepicker .ui-datepicker-calendar thead tr th span { font-weight: normal; font-size: 14px; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td { width: 14%; border: 1px #FFF solid; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td a,
#agenda .ui-datepicker .ui-datepicker-calendar tr td span { border: 0px; background: none;  height: 45px; text-align: center; line-height: 45px; display: block; text-decoration: none; color: #777777; font-weight: bold; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-today a { color: #FFF; background: rgb(68, 138, 255) none repeat scroll 0 0; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-week-end  a { color: #CC6600; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td.hasEvent a { border: 1px #CC6600 dotted; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day a { border: 1px #777777 solid; }
#agenda .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-unselectable span { font-weight: normal; }

#eventsList .noEvent { height: 100px; line-height: 100px; text-align: center; color: #777777; }
ul#events li { border-left: 8px solid rgb(68, 138, 255); font-size: 16px; height: 60px; background-color: #FFFFFF; }
ul#events li a { height: 60px; }
ul#events li a div.hourly { float: left; width: 60px; text-align: center; }
ul#events li a div.hourly strong { font-weight: bold; color: rgb(68, 138, 255); display: block; height: 23px; line-height: 23px; font-size: 13px; }
ul#events li a div.hourly strong.start { margin-top: 7px; }
ul#events li a span { font-size: 14px; color: #777777; margin-left: 12px; line-height: 60px; }
ul#events li a span.complete { color: rgb(68, 138, 255); font-size: 14px; font-weight: bold; }

table#eventsTable { width: 100%; font-size: 16px; border-spacing: 0; margin-top: 1px; }
table#eventsTable tr { height: 60px; }
table#eventsTable tr td { border-bottom: 1px solid #CCCCCC; /*border-top: 1px #FFF solid;*/ height: 60px; background-color: #FFF; }
table#eventsTable tr td.period { width: 5px; color: rgb(68, 138, 255); border-bottom: 2px rgb(68, 138, 255) solid; }
table#eventsTable tr td.period.noborder { border-bottom: 0; }
table#eventsTable tr td.period div {
  letter-spacing: 3px;
  font-weight: bold;
  width: 45px;
  -moz-transform: rotate(-90.0deg);  
  -o-transform: rotate(-90.0deg); 
  -webkit-transform: rotate(-90.0deg);  
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
}
table#eventsTable tr td.hourly { border-left: 1px solid rgb(68, 138, 255);  color: rgb(68, 138, 255); width: 60px; font-weight: bold; text-align: center; }
table#eventsTable tr td.description a { padding: 12px; color: #777777; font-size: 14px; text-decoration: none; display: block; height: 100%; }
table#eventsTable tr td.busy { background-color: #F1F1F1; }

/** Agenda - Detalhes do evento **/
table#eventDetails { width: 100%; font-size: 16px; border-spacing: 0; margin-top: 1px; }
table#eventDetails tr { height: 60px; }
table#eventDetails tr td { border-bottom: 1px solid #CCCCCC; border-top: 1px #FFF solid; min-height: 60px; }
table#eventDetails tr td.item { border-left: 1px solid rgb(68, 138, 255); color: rgb(68, 138, 255); width: 120px; font-weight: bold; text-align: left; padding-left: 5px; }
table#eventDetails tr td.description { padding: 12px; color: #777777; font-size: 14px;}
table#eventDetails tr td.description ul li { border: none; height: auto; color: #777777;  }
table#eventDetails tr td.busy { background-color: #F1F1F1; }

body div form#addEvent { padding: 0; }
body div form#addEvent ol li { min-height: 60px; border-left: 8px solid rgb(68, 138, 255); border-bottom: 1px #CCC solid; border-top: 1px #FFF solid; }
body div form#addEvent ol li label { padding-top: 20px; color: rgb(68, 138, 255); width: 120px; font-weight: bold; text-align: left; padding-left: 5px; }
body div form#addEvent ol li.date ol li { width: 47%; margin: 0; display: inline; border: 0; }
body div form#addEvent ol li.itens { color: #777777; }
body div form#addEvent ol li.itens h4 { display: inline; font-weight: bold; }
body div form#addEvent ol li.itens a { text-decoration: none; margin: 21px 10px; color: rgb(68, 138, 255); float: right; }
body div form#addEvent ol li.itens ol { margin: 55px 0 10px 15px; }
body div form#addEvent ol li.itens ol li { margin: 10px 0; border: 0; min-height: 0; }
body div form#addEvent ol li.itens ol li label { padding-top: 0; float: none; }
body div form#addEvent ol li label { float: left; width: 150px; }

body div form#addEvent input[type=text], body div form#addEvent input[type=date], body div form#addEvent input[type=time], body div form#addEvent select, body div form#addEvent textarea { border: 0; width: auto; margin: 10px 0;  padding: 10px 5px; font-size: 16px; color: #777777;  }
body div form#addEvent select { height: 40px; padding: 0; }
body div form#addEvent input[type=text]:focus, body div form#addEvent input[type=date]:focus, body div form#addEvent input[type=time]:focus, body div form#addEvent select:focus, body div form#addEvent textarea:focus {  }
body div form#addEvent textarea { height: 150px; }

input[type=checkbox].css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
input[type=checkbox].css-checkbox + label.css-label { padding-left: 25px !important; height: 20px; display: inline-block; line-height: 20px; background-repeat: no-repeat; background-position: 0 0; font-size: 15px; vertical-align: middle; cursor:pointer; }
input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -20px; }
.css-label { background-image:url(../imgs/web-two-style.png); width: 90% !important; }


#contentDetail dl#participantsList { margin-top: 1px;  }
dl#participantsList dt { font-size: 16px; color: #FFFFFF; padding: 10px; border-bottom: 1px #FFFFFF solid; font-weight: bold; background-color: rgb(68, 138, 255); }
dl#participantsList dd ul li { vertical-align: middle; height: 60px; line-height: 50px; padding: 0 10px; color: #777777; border-bottom: 1px solid #CCCCCC; border-top: 1px solid #FFFFFF; font-size: 14px; text-align: left; }
dl#participantsList dd ul li input.check { float: right; margin-top: 18px; }
dl#participantsList dd ul li a { text-decoration: none; color: #777777; font-weight: bold; }


