

/*
BUILTIN EXPRESSO 
*/
/*
#divAppbox 			{ border: 0px; padding: 0px; margin-left: -2px; }
#divAppboxHeader 	{ display: none; }
#sideboxdragarea 	{ display: none; }
#hiddenButton 		{ display: none; }
#divStatusBar 		{ display: none; }

#chatContactsWindow {
  width: 250px; 
}
*/