<div id="pageMessage"></div>
<div class="login-center" style="width: 250px; margin-top: 20px;">
      <div class="login-logo animation-scale-fadein"></div>
</div>
<div class="login-center" style="width: 250px; margin-top: 20px;">
      <form method="POST" action="#/Home" onsubmit="return false;">
            <div id="login-loading" class="animation-falling mdl-card mdl-shadow--2dp" style="width: 250px;">
              <div class="mdl-card__supporting-text" style="">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        <% if (servers.length > 1) { %>
                        <select id="serverURL" name="serverURL" class="mdl-textfield__input" >
                              <% _.each(servers, function(server){ %>
                                    <option value="<%=server.getServerURL()%>"><%=server.get("serverName")%></option>
                              <% }); %>
                        </select>
                        <label class="mdl-textfield__label" for="serverURL">Servidor</label>
                        <% } else { %>
                              <% _.each(servers, function(server){ %>
                                    <input type="hidden" id="serverURL" name="serverURL" value="<%=server.getServerURL()%>" />
                              <% }); %>
                        <% } %>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input id="username" type="username" name="username" class="mdl-textfield__input" type="text" id="username" />
                      <label class="mdl-textfield__label" for="username">Usu&aacute;rio</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input id="password" type="password" name="password" class="mdl-textfield__input" type="text" id="username" />
                      <label class="mdl-textfield__label" for="username">Senha</label>
                  </div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                   <button id="btn-login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 100%;">
                    Conectar
                   </button>
                </div>
            </div>
      </form>
</div>
<div class="login-center" style="width: 250px; margin-top: 20px;">
      <div class="login-company-logo animation-scale-fadein"></div>
      <% if (Shared.isPhonegap()) { %>
            <div id="helpLink" class="help">? Ajuda/Perguntas Frequentes</div>
      <% } %>
</div>
<paper-toast id="toastMessageLogin" text="Bem vindo ao Expresso..." style="z-index: 10000;" opened></paper-toast>