

.animation-fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.animation-falling {
  animation: falling 1s;
  -moz-animation: falling 1s; /* Firefox */
  -webkit-animation: falling 1s; /* Safari and Chrome */
  -o-animation: falling 1s; /* Opera */
}

.animation-scale-fadein {
  animation: scaleFadein 1s;
  -moz-animation: scaleFadein 1s; /* Firefox */
  -webkit-animation: scaleFadein 1s; /* Safari and Chrome */
  -o-animation: scaleFadein 1s; /* Opera */
}

.animation-big-scale {
  animation: bigScale 2s;
  -moz-animation: bigScale 2s; /* Firefox */
  -webkit-animation: bigScale 2s; /* Safari and Chrome */
  -o-animation: bigScale 2s; /* Opera */
}

/* FALLING */
@keyframes falling {
    from {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
    }
}
@-moz-keyframes falling { /* Firefox */
    from {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
    }
}
@-webkit-keyframes falling { /* Safari and Chrome */
    from {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
    }
}
@-o-keyframes falling { /* Opera */
    from {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
    }
}

/* FADE IN */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/* SCALE */
@keyframes scaleFadein {
    from {
        opacity:0;
        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Safari */
        transform: scale(0,0); /* Standard syntax */
    }
    to {
        opacity:1;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }
}
@-moz-keyframes scaleFadein { /* Firefox */
    from {
        opacity:0;
        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Safari */
        transform: scale(0,0); /* Standard syntax */
    }
    to {
        opacity:1;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }
}
@-webkit-keyframes scaleFadein { /* Safari and Chrome */
    from {
        opacity:0;
        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Safari */
        transform: scale(0,0); /* Standard syntax */
    }
    to {
        opacity:1;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }
}
@-o-keyframes scaleFadein { /* Opera */
   from {
        opacity:0;
        -ms-transform: scale(0,0); /* IE 9 */
        -webkit-transform: scale(0,0); /* Safari */
        transform: scale(0,0); /* Standard syntax */
    }
    to {
        opacity:1;
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }
}


@-webkit-keyframes bigScale { /* Safari and Chrome */
    from {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }
    to {
        -ms-transform: scale(20,20); /* IE 9 */
        -webkit-transform: scale(20,20); /* Safari */
        transform: scale(20,20); /* Standard syntax */
    }
}