
<form id="changePassword" style="">
      <div class="expresso-email animation-fadein">
        <div class="mdl-card__title mdl-card--expand mdl-color--blue-100">
          <h2 class="mdl-card__title-text">Alterar Senha</h2>
        </div>
        <div class="mdl-color-text--grey-600" style="padding: 20px;">
          	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		      <input id="senhaAtual" type="password" name="senhaAtual" class="mdl-textfield__input" type="text" style="width: 90%"  />
		      <label class="mdl-textfield__label" for="senhaAtual">Senha Atual</label>
		  	</div>
		  	<br>
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		      <input id="novaSenha" type="password" name="novaSenha" class="mdl-textfield__input" type="text"  style="width: 90%"  />
		      <label class="mdl-textfield__label" for="novaSenha">Nova Senha</label>
		  	</div>
		  	<br>
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		      <input id="repetirNovaSenha" type="password" name="repetirNovaSenha" class="mdl-textfield__input" type="text" style="width: 90%" />
		      <label class="mdl-textfield__label" for="repetirNovaSenha">Repetir nova senha</label>
		  	</div>
        </div>
        <!-- <div class="mdl-card__actions mdl-card--border">
        	<button id="btn-changepassword" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 100%;">
              Alterar Senha
            </button>
        </div> -->
      </div>
</form>