<!-- <h2 id="contentTitle" class="font-big icon-settings" style="padding-left: 50px; background-position: 10px;">Prefer&ecirc;ncias</h2> -->
<div id="wrapper" class="contentScroll">
	<div id="scroller">

		<dl id="settingsList">
			<% if (Shared.apiVersion != "1.0") { %>
			<dt>Conta de e-mail</dt>
			<dd>
				<ul>
					
					<% if (Shared.userHasModule("catalog")) { %>
						<a href="/Contacts/General/<%=user.contactUIDNumber%>" class="listItemLink" rowid="row_account"><% if (!_.isNull(user.contactMails[0])) { %><li id="row_account"><%=user.contactMails[0]%><% } %></li></a>
						<% } else { %>

						<% if (!_.isNull(user.contactMails[0])) { %><li id="row_account"><%=user.contactMails[0]%></li><% } %>
					<% } %>
					<a href="/Settings/ChangePassword" class="listItemLink" rowid="row_changepassword">
						<li id="row_changepassword">Alterar senha</li>
					</a>
					
					<!-- <li id="row_automaticLogin">
						<label for="automaticLogin" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
						  <input type="checkbox" id="automaticLogin" class="mdl-switch__input" />
						  <span class="mdl-switch__label">Login Automatico</span>
						</label>
					</li> -->
				</ul>
			</dd>
				<% if (Shared.userHasModule("mail")) { %>
				<dt>Configura&ccedil;&otilde;es do Email</dt>
				<dd>
					<ul>
						<a href="/Settings/ResultsPerPage" class="listItemLink" rowid="row_resultsperpage"><li id="row_resultsperpage">Resultados por p&aacute;gina</li></a>
						<a href="/Settings/MailSignature" class="listItemLink" rowid="row_mailsignature"><li id="row_mailsignature">Assinatura de e-mail</li></a>
					</ul>
				</dd>
				<% } %>
			<% } %>
			<dt>Expresso</dt>
			<dd>
				<ul>
					<a href="/Settings/Support" class="listItemLink" rowid="row_support"><li id="row_support">Suporte / Sugest&otilde;es</li></a>
					<a href="/Settings/About" class="listItemLink" rowid="row_about"><li id="row_about">Sobre o Expresso</li></a>
					<a href="/Settings/FAQ" class="listItemLink" rowid="row_faq"><li id="row_faq">Perguntas Frequentes</li></a>
					<a href="/Settings/Credits" class="listItemLink" rowid="row_credits"><li id="row_credits">Cr&eacute;ditos</li></a>
				</ul>
			</dd>
		</dl>
	</div>
</div>