<% if (menuItems.length > 1) { %>
<paper-fab-speed-dial id="contextMenuItems" class="expresso-fab-button animation-scale-fadein" style="bottom: 0px; right: 0px;">
  <% _.each(menuItems, function(menuItem){ %>
  	<paper-fab-speed-dial-action icon="icons:create" href="<%=menuItem.get("route")%>" <% if (menuItem.get('action') != undefined) { %>data-action="<%= menuItem.get('action') %>"<% } %>><%=menuItem.get("title")%></paper-fab-speed-dial-action>
  <% }); %>
</paper-fab-speed-dial>
<% } else { %>
<div class="expresso-fab-button animation-scale-fadein">
	<button id="btn-primary-action" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	  <i class="material-icons">create</i>
	</button>
</div>
<% } %>
<!-- <div class="mdl-layout-spacer"></div>
<label id="searchButton" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">search</i>
</label>

	<% var menuItemsSecondary = _.filter(menuItems, function (item) { return item.get('primary') == false; }); %>
	<% if (typeof(menuItems) != 'undefined' && menuItemsSecondary.length > 0) { %>
	<button id="expressoContextMenu"
	        class="mdl-button mdl-js-button mdl-button--icon">
	  		<i class="material-icons">more_vert</i>
		</button>
   <% } %>

<ul id="contextMenuItems" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="expressoContextMenu">
    <% _.each(menuItems, function(menuItem){ %>
		<% if (!menuItem.get("primary")) { %>
			<li class="mdl-menu__item"><a id="<%=menuItem.get("id")%>" href="<%=menuItem.get("route")%>" <% if (menuItem.get('action') != undefined) { %>data-action="<%= menuItem.get('action') %>"<% } %> title="<%=menuItem.get("title")%>"><%=menuItem.get("title")%></a></li>
		<% } %>
	<% }); %>
</ul> 
-->


<!-- 
 -->
<!-- <div id="primaryButtonAction">
	<button id="btn-primary-action" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	  <i class="material-icons">send</i>
	</button>
</div> -->


<!--
<ul id="menuBarItems" class="right topButtons">
<% if (Shared.isDesktop()) { %>
	<% _.each(menuItems, function(menuItem){ %>
		<% if (!menuItem.get("primary")) { %>
			<li class="secondary" style="">
				<a id="<%=menuItem.get("id")%>" href="<%=menuItem.get("route")%>" <% if (menuItem.get('action') != undefined) { %>data-action="<%= menuItem.get('action') %>"<% } %> title="<%=menuItem.get("title")%>"><div class="context-icon <%=menuItem.get("iconClass")%>"></div></a>
			</li>
		<% } %>
	<% }); %>
<% } %>
  <li>
    <input id="btn-primary-action" type="button" value="" class="hidden" style=""> 
  </li>
  <% var menuItemsSecondary = _.filter(menuItems, function (item) { return item.get('primary') == false; }); %>
  <% if (!Shared.isDesktop()) { %>
	  <% if (typeof(menuItems) != 'undefined' && menuItemsSecondary.length > 0) { %>
		  <li><a id="contextMenuButton" href="#" class="contextMenu">Menu de contexto</a></li>
	  <% } %>
  <% } %>

  
  
</ul>
<% if (!Shared.isDesktop()) { %>

<div id="contextMenu">
	
	<ul>
		<% _.each(menuItems, function(menuItem){ %>
			<% if (!menuItem.get("primary")) { %>
				<li><a id="<%=menuItem.get("id")%>" href="<%=menuItem.get("route")%>" <% if (menuItem.get('action') != undefined) { %>data-action="<%= menuItem.get('action') %>"<% } %> title="<%=menuItem.get("title")%>"><div class="context-icon <%=menuItem.get("iconClass")%>"></div><%=menuItem.get("title")%></a></li>
			<% } %>
		<% }); %>
	</ul> 
</div>
<% } %>
-->
