<div id="mainPage" class="expresso-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <header class="expresso-header mdl-layout__header">

        <div id="mainHeader_menuButton" class="mdl-layout__drawer-button">
          <i class="material-icons">menu</i>
        </div>
         <div id="mainHeader_backButton" class="menu_backButton">
          <button id="mainHeader_back_button" class="mdl-button mdl-js-button mdl-button--icon">
           <i class="material-icons">arrow_back</i>
          </button>
        </div> 

        <!-- <div id="isOffline" style="display: none; position: absolute; margin-left: 50px; margin-top: -10px;"><div style="padding-right: 0px; padding-top: 15px; margin: 0px; margin-top: 10px; height: 27px;" class="message error">Voc&ecirc; est&aacute; trabalhando OFF-LINE.</div></div> -->
        <div id="pageMessage"></div>
        <div style="margin-left: -3px; margin-top: 50px; z-index: 5000;" id="beta" class="hidden"></div>

        <div id="mainHeader" class="mdl-layout__header-row">
          <span id="currentPageTitle" class="mdl-layout-title"></span>
          <div class="mdl-layout-spacer"></div>
          <div id="rightMenu">

          </div>
        </div>
        
      </header>

  
  <div id="menu" class="mdl-layout__drawer left expanded">
    <div id="scrollerMenu">
    </div>
  </div>
  <main id="mainPageContent" class="mdl-layout__content">

        <% if (Shared.userHasModule("chat")) { %>
        <div id="chatContactsWindow" class="mdl-cell mdl-cell--hide-phone mdl-cell--hide-tablet"><div id="chat_toggleRoster" class="toggleRightDiv"></div><div id="chatDesktop"></div></div>
        <% } %>

    <div id="pageContent" class="page-content mdl-cell mdl-grid">

        <div id="content" class=" mdl-cell mdl-cell--12-col <% if (!Shared.forceSmartPhoneResolution) { %>mdl-cell--5-col-tablet mdl-cell--5-col-desktop<% } else { %>mdl-cell--12-col-tablet mdl-cell--12-col-desktop<% } %> mdl-card mdl-shadow--2dp">
        
        </div>
        <div id="contentDetail" class=" mdl-cell mdl-cell--12-col  mdl-card mdl-shadow--2dp mdl-cell--hide-phone <% if (Shared.forceSmartPhoneResolution) { %>mdl-cell--hide-tablet mdl-cell--hide-desktop<% } else { %>mdl-cell--7-col-tablet mdl-cell--7-col-desktop<% } %>">
          
        </div>
    </div>
    
  </main>
  <paper-toast id="toastMessage" text="..." style="z-index: 100000;"></paper-toast>
</div>
